* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  .App {
    padding: 0px 40px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    .header {
      display: flex;
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
      .navbar {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 0px;
        z-index: 1;
        .logo {
          font-size: 30px;
          width: 50%;
          position: fixed;
          left: 40px;
          .other_color {
            color: rgb(60, 208, 112);
          }
        }
        .pages {
          display: flex;
          justify-content: center;
          font-size: 18px;
          width: 50%;
          span {
            margin-right: 10px;
            cursor: pointer;
            a {
              color: black;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .fa-chevron-up {
        position: fixed;
        right: 80px;
        bottom: 30px;
        font-size: 30px;
        color: gray;
        padding: 15px;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
      .header_info {
        width: 40%;
        display: flex;
        align-items: center;
        .info_wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          .first_line {
            font-size: 30px;
          }
          .name {
            font-size: 50px;
          }
          .scroll {
            height: 50px;
            overflow: hidden;
            .scroll_wrapper {
              height: 100%;
              animation: move 4s ease-in-out infinite alternate;
            }
            @keyframes move {
              50% {
                transform: translateY(-50px);
              }
              100% {
                transform: translateY(-100px);
              }
            }
            .scroll_item {
              height: 50px;
              font-size: 30px;
              color: rgb(60, 208, 112);
              display: flex;
              align-items: center;
            }
          }
          .social_network {
            a {
              text-decoration: none;
              color: black;
              i {
              font-size: 30px;
              margin: 10px 10px 0px 0px;
              cursor: pointer;
              cursor: pointer;
              &:hover {
                color: rgb(60, 208, 112);
              }
            }
            }
            
          }
        }
      }
      .header_image {
        display: flex;
        justify-content: center;
        width: 60%;
        position: relative;
        .background_shape {
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
          background-color: rgb(60, 208, 112);
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
        }
      }
    }
    .about {
      display: flex;
      height: 100vh;
      scroll-snap-align: start;
      .about_image {
        width: 50%;
        display: flex;
        align-items: center;
        img {
          margin-left: 35px;
          width: 350px;
          box-shadow: -35px -35px 0px -1px rgba(0, 0, 0, 0.75);
        }
      }
      .about_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          font-size: 30px;
          font-weight: 200;
        }
        .text {
          text-indent: 20px;
        }
        .btn {
          padding: 10px;
          background-color: rgb(60, 208, 112);
          color: white;
          margin-top: 20px;
          text-align: center;
          font-size: 18px;
          border: none;
          cursor: pointer;
          width: 150px;
          &:hover {
            background-color: green;
          }
        }
      }
    }
    .projects_wrapper {
      scroll-snap-align: start;
      height: 100vh;
      h1 {
        text-align: center;
        font-weight: 200;
        padding-top: 20px;
      }
      .projects {
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .carousel {
          padding: 50px;
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
          color: white;
          .rec-carousel {
            .rec-arrow-left {
              color: white;
              background-color: rgb(157, 248, 189);
              box-shadow: none;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: rgb(60, 208, 112);
              }
            }
            .rec-arrow-right {
              color: white;
              background-color: rgb(157, 248, 189);
              box-shadow: none;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: rgb(60, 208, 112);
              }
            }
          }
          .rec-pagination {
            display: flex;
            align-items: center;
            .rec-dot {
              box-shadow: none;
              border: 1px solid rgb(60, 208, 112);
            }
            .rec-dot_active {
              background-color: rgb(60, 208, 112);
              width: 14px;
              height: 14px;
            }
          }

          .project_item {
            width: 270px;
            height: 270px;
            overflow: hidden;
            margin: 15px 5px;
            position: relative;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
            &:hover .hidden {
              display: flex;
              justify-content: space-between;
              position: absolute;
              bottom: 10px;
              left: 30px;
              right: 30px;
              z-index: 1;
              font-size: 30px;
              display: flex;
              align-items: center;
            }
            img {
              height: 100%;
              transition: all 0.3s ease;
              &:hover {
                transform: scale(1.1);
              }
            }
            .hidden {
              background-color: white;
              display: none;
              color: gray;
              padding: 5px 10px;
              border-radius: 20px;

              .name {
                font-size: 17px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    .technologies {
      height: 100vh;
      scroll-snap-align: start;
      h1 {
        text-align: center;
        font-weight: 200;
        padding-top: 20px;
      }
      .tech_inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 70px;
        div {
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
          width: 270px;
          height: 270px;
          margin: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          i {
            font-size: 100px;
          }
          .jquery {
            width: 130px;
          }
          .mysql {
            width: 120px;
          }
          .vs_code {
            width: 95px;
          }
        }
      }
    }

    .contact {
      height: 100vh;
      scroll-snap-align: start;
      .title {
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
      }
      .content {
        display: flex;
        align-items: center;
        height: 85%;
        .contact_left {
          width: 50%;
          .get_in_touch {
            h2 {
            font-weight: 200;
            margin-bottom: 20px;
          }
        }
          .phone,
          .email,
          .location {
            margin-bottom: 10px;
            font-size: 20px;
            i {
              font-size: 25px;
              margin-right: 20px;
            }
            .fa-phone {
              color: green;
            }
            .fa-envelope {
              color: blue;
            }
            .fa-map-marker-alt {
              color: red;
            }
          }
        }
        .contact_right {
          width: 50%;
          .contact_form {
            h2 {
              font-weight: 200;
              margin-bottom: 10px;
            }
            .name_email {
              display: flex;
              margin-bottom: 10px;
              .name {
                width: 50%;
                margin-right: 10px;
                input {
                  width: 100%;
                  padding: 5px;
                  font-size: 17px;
                  border: 1px solid lightgray;
                  &:focus {
                    outline: none;
                  }
                }
              }
              .email {
                width: 50%;

                input {
                  width: 100%;
                  padding: 5px;
                  font-size: 17px;
                  border: 1px solid lightgray;
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
            .subject {
              margin-bottom: 10px;
              input {
                width: 100%;
                padding: 5px;
                font-size: 17px;
                border: 1px solid lightgray;
                &:focus {
                  outline: none;
                }
              }
            }
            .message {
              textarea {
                width: 100%;
                padding: 5px;
                font-size: 17px;
                border: 1px solid lightgray;
                font-family: "Poppins", sans-serif;
                &:focus {
                  outline: none;
                }
              }
            }
            .btn {
              button {
                color: white;
                padding: 10px;
                font-size: 18px;
                border: none;
                background-color: rgb(60, 208, 112);
                cursor: pointer;
                &:hover {
                  background-color: green;
                }
              }
              .msg_successfull {
                margin-left: 20px;
                color: green;
                padding: 5px;
                border: 1px solid green;
                i {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      .footer {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
        span {
          color: rgb(60, 208, 112);
        }
      }
    }
  }
}
