* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  .App {
    padding: 0px 40px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .header {
      display: flex;
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
      .navbar {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 0px;
        z-index: 1;
         z-index: 3;
        .logo {
          font-size: 30px;
          width: 50%;
          position: fixed;
          left: 40px;
          .other_color {
            color: rgb(60, 208, 112);
          }
        }
        .pages {
          display: flex;
          justify-content: center;
          font-size: 18px;
          width: 50%;
         
          .exit_menu {
            display: none;
          }
          span {
            margin-right: 10px;
            cursor: pointer;
            
            a {
              color: black;
              text-decoration: none;
              
              &:hover {
                text-decoration: underline;
              }
            }
           .black {
          color: white;
        }
          }
           
        }
        
        .menu_bars {
          display: none;
        }
        .night_mode {
          margin-right: 10px;
          background-color: lightgray;
          cursor: pointer;
          border-radius: 30px;
          width: 65px;
          display: flex;
          align-items: center;
          padding: 2px 5px;
          span {
            background-color: gray;
            padding: 2px;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            transition: all 0.4s ease;
            i {
              color: yellow;
            }
          }
        }
        .day {
          span {
            margin-left: 60%;
            transition: all 0.4s ease;
          }
        }
      }
      .fa-chevron-up {
        position: fixed;
        right: 80px;
        bottom: 30px;
        font-size: 30px;
        color: gray;
        padding: 15px;
        cursor: pointer;
        z-index: 3;
        &:hover {
          color: black;
        }
      }
      .header_info {
        width: 40%;
        display: flex;
        align-items: center;
        .info_wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          .first_line {
            font-size: 30px;
          }
          .name {
            font-size: 50px;
          }
          .scroll {
            height: 50px;
            overflow: hidden;
            .scroll_wrapper {
              height: 100%;
              animation: move 4s ease-in-out infinite alternate;
            }
            @keyframes move {
              50% {
                transform: translateY(-50px);
              }
              100% {
                transform: translateY(-100px);
              }
            }
            .scroll_item {
              height: 50px;
              font-size: 30px;
              color: rgb(60, 208, 112);
              display: flex;
              align-items: center;
            }
          }
          .social_network {
            a {
              text-decoration: none;
              color: black;
              i {
                font-size: 30px;
                margin: 10px 10px 0px 0px;
                cursor: pointer;
                cursor: pointer;
                &:hover {
                  color: rgb(60, 208, 112);
                }
              }
              .night {
                color: white;
              }
            }
          }
        }
      }
      .header_image {
        display: flex;
        justify-content: center;
        width: 60%;
        position: relative;
        .background_shape {
          clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
          background-color: rgb(60, 208, 112);
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 0;
        }
        .black {
          background-color: rgb(28, 138, 67);
        }
        img {
          z-index: 2;
        }
      }
    }
    .night {
      background-color: rgb(20, 20, 20);
      color: white;
    }
    .about {
      display: flex;
      height: 100vh;
      scroll-snap-align: start;
      .about_image {
        width: 50%;
        display: flex;
        align-items: center;
        img {
          margin-left: 35px;
          width: 400px;
          box-shadow: -35px -35px 0px -1px rgba(0, 0, 0, 0.75);
        }
        .night {
          box-shadow: -35px -35px 0px -1px rgb(61, 61, 61);
        }
      }
      .about_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          font-size: 30px;
          font-weight: 200;
        }
        .text {
          text-indent: 20px;
        }
        .download {
          margin-top: 20px;
          .download_btn {
            text-decoration: none;
            padding: 5px 10px;
            background-color: rgb(60, 208, 112);
            color: white;
            margin-top: 20px;
            text-align: center;
            font-size: 18px;
            border: none;
            cursor: pointer;
            width: 150px;
            &:hover {
              background-color: green;
            }
            i {
              margin-left: 10px;
            }
          }
          .download_msg {
            margin-left: 20px;
            color: green;
            border: 1px solid green;
            padding: 5px;
          }
        }
      }
    }
    .projects_wrapper {
      scroll-snap-align: start;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        text-align: center;
        font-weight: 200;
        margin: 20px 0px;
      }
      .projects {
        .carousel {
          padding: 50px;
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
          color: white;
          .rec-carousel {
            .rec-arrow-left {
              color: white;
              background-color: rgb(157, 248, 189);
              box-shadow: none;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: rgb(60, 208, 112);
              }
            }
            .rec-arrow-right {
              color: white;
              background-color: rgb(157, 248, 189);
              box-shadow: none;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: rgb(60, 208, 112);
              }
            }
          }
          .rec-pagination {
            display: flex;
            align-items: center;
            .rec-dot {
              box-shadow: none;
              border: 1px solid rgb(60, 208, 112);
            }
            .rec-dot_active {
              background-color: rgb(60, 208, 112);
              width: 14px;
              height: 14px;
            }
          }
          .project_item {
            width: 270px;
            height: 270px;
            overflow: hidden;
            margin: 15px 5px;
            position: relative;
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
            &:hover .hidden {
              display: flex;
              justify-content: space-between;
              position: absolute;
              bottom: 10px;
              left: 30px;
              right: 30px;
              z-index: 1;
              font-size: 30px;
              display: flex;
              align-items: center;
            }
            img {
              height: 100%;
              transition: all 0.3s ease;
              &:hover {
                transform: scale(1.1);
              }
            }
            .hidden {
              background-color: white;
              display: none;
              color: gray;
              padding: 5px 10px;
              border-radius: 20px;

              .name {
                font-size: 17px;
                margin-right: 10px;
              }
            }
          }
        }
        .night {
          background-color: rgb(61, 61, 61);
        }
      }
    }
    .technologies {
      height: 100vh;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        text-align: center;
        font-weight: 200;
        margin: 20px 0px;
      }
      .tech_inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div {
          box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
          width: 230px;
          height: 230px;
          margin: 15px 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          i {
            font-size: 100px;
          }
          .jquery {
            width: 130px;
          }
          .mysql {
            width: 120px;
          }
          .vs_code {
            width: 95px;
          }
        }
        .night {
          background-color: rgb(61, 61, 61);
        }
      }
    }

    .contact {
      position: relative;
      height: 100vh;
      scroll-snap-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        text-align: center;
        font-size: 30px;
        margin: 20px 0px;
      }
      .content {
        display: flex;
        .contact_left {
          width: 50%;
          .get_in_touch {
            h2 {
              font-weight: 200;
              margin-bottom: 20px;
            }
          }
          .phone,
          .email,
          .location {
            margin-bottom: 10px;
            font-size: 20px;
            i {
              font-size: 25px;
              margin-right: 20px;
            }
            .fa-phone {
              color: green;
            }
            .fa-envelope {
              color: blue;
            }
            .fa-map-marker-alt {
              color: red;
            }
          }
        }
        .contact_right {
          width: 50%;
          .contact_form {
            h2 {
              font-weight: 200;
              margin-bottom: 10px;
            }
            .name_email {
              display: flex;
              margin-bottom: 10px;
              .name {
                width: 50%;
                margin-right: 10px;
                input {
                  width: 100%;
                  padding: 5px;
                  font-size: 17px;
                  border: 1px solid lightgray;
                  &:focus {
                    outline: none;
                  }
                }
                .night {
                  background-color: rgb(61, 61, 61);
                  color: white;
                  border: none;
                }
              }
              .email {
                width: 50%;

                input {
                  width: 100%;
                  padding: 5px;
                  font-size: 17px;
                  border: 1px solid lightgray;
                  &:focus {
                    outline: none;
                  }
                }
                .night {
                  background-color: rgb(61, 61, 61);
                  color: white;
                  border: none;
                }
              }
            }
            .subject {
              margin-bottom: 10px;
              input {
                width: 100%;
                padding: 5px;
                font-size: 17px;
                border: 1px solid lightgray;
                &:focus {
                  outline: none;
                }
              }
              .night {
                background-color: rgb(61, 61, 61);
                color: white;
                border: none;
              }
            }
            .message {
              textarea {
                width: 100%;
                padding: 5px;
                font-size: 17px;
                border: 1px solid lightgray;
                font-family: "Poppins", sans-serif;
                &:focus {
                  outline: none;
                }
              }
              .night {
                background-color: rgb(61, 61, 61);
                color: white;
                border: none;
              }
            }
            .btn {
              button {
                color: white;
                padding: 10px;
                font-size: 18px;
                border: none;
                background-color: rgb(60, 208, 112);
                cursor: pointer;
                &:hover {
                  background-color: green;
                }
              }
              .msg_successfull {
                margin-left: 20px;
                color: green;
                padding: 5px;
                border: 1px solid green;
                i {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      .footer {
        position: absolute;
        bottom: 20px;
        left: 32%;
        font-size: 18px;
        text-align: center;
        span {
          color: rgb(60, 208, 112);
        }
      }
    }
  }
  .night {
    background-color: rgb(20, 20, 20);
    color: white;
  }
}

@media screen and (max-width: 1250px) {
  .App {
    padding: 0px 10px;
    .header {
      height: 100vh;
      flex-direction: column;
      scroll-snap-align: none;
      .navbar {
        .logo {
          font-size: 40px;
          top: 10px;
          left: 10px;
        }
        .pages {
          background-color: rgb(60, 208, 112);
          width: 70%;
          height: 70%;
          position: fixed;
          top: 0;
          right: -0%;
          flex-direction: column;
          align-items: center;
          transition: all 0.4s ease;
          z-index: 4;
          .exit_menu {
            display: block;
            position: absolute;
            top: 15px;
            right: 25px;
            font-size: 35px;
            padding: 15px;
            color: white;
          }
          span {
            margin-bottom: 35px;
            a {
              color: white;
              font-size: 35px;
            }
          }
        }
        .unvisible {
          right: -70%;
        }
        .menu_bars {
          display: block;
          font-size: 35px;
          position: fixed;
          right: 35px;
          top: 10px;
          &:hover {
            color: rgb(60, 208, 112);
          }
        }
        .night_mode {
          margin-right: 50px;
          margin-top: 3px;
        }
      }
      .fa-chevron-up {
        right: 20px;
        bottom: 20px;
        font-size: 35px;
        color: gray;
        padding: 20px;
      }
      .header_info {
        width: 100%;
        height: 40%;
        .info_wrapper {
          margin-top: 45px;
          align-items: center;
          .first_line {
            font-size: 35px;
          }
          .name {
            font-size: 50px;
          }
          .scroll {
            height: 40px;
            @keyframes move {
              50% {
                transform: translateY(-40px);
              }
              100% {
                transform: translateY(-80px);
              }
            }
            .scroll_item {
              height: 40px;
              font-size: 25px;
            }
          }
          .text {
            text-align: center;
            font-size: 20px;
          }
        }
      }
      .header_image {
        width: 100%;
        height: 60%;
        .background_shape {
          width: 60%;
          height: 100%;
          right: 0;
        }
      }
    }
    .about {
      height: auto;
      margin-top: 30px;
      flex-direction: column;
      scroll-snap-align: none;
      .about_image {
        width: 100%;
        justify-content: center;
        img {
          margin-top: 40px;
          width: 60%;
          margin-left: 0px;
          box-shadow: -20px -20px 0px -1px rgba(0, 0, 0, 0.75);
        }
      }
      .about_text {
        width: 100%;
        text-align: center;
        .title {
          font-size: 35px;
          text-align: center;
          margin-top: 10px;
        }
        .text {
          font-size: 20px;
        }
        .download {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          .download_btn {
            margin-top: 0px;
          }
          .download_msg {
            margin-left: 0px;
            margin-top: 2px;
            padding: 5px;
            border: none;
          }
        }
      }
    }
    .projects_wrapper {
      scroll-snap-align: none;
      height: auto;
      margin-top: 30px;
      h1 {
        font-size: 35px;
      }
      .projects {
        .carousel {
          padding: 10px 0px;
          box-shadow: none;
          position: relative;
          .rec-carousel {
            .rec-arrow-left {
              font-size: 40px;
              position: absolute;
              left: 0;
              top: 40%;
              color: black;
              z-index: 1;
              background-color: transparent;
              &:hover {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
            .rec-arrow-right {
              font-size: 40px;
              position: absolute;
              right: 0;
              top: 40%;
              color: black;
              background-color: transparent;
              &:hover {
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
            .rec-slider-container {
              margin: 0;
              .rec-slider {
                .rec-swipable {
                  .rec-carousel-item {
                    .rec-item-wrapper {
                      .project_item {
                        width: 250px;
                        height: 250px;
                        a {
                          img {
                            width: 100%;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .rec-pagination {
            .rec-dot {
              border: 1px solid black;
              width: 16px;
              height: 16px;
            }
            .rec-dot_active {
              background-color: black;
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }
    .technologies {
      scroll-snap-align: none;
      height: auto;
      margin-top: 30px;
      h1 {
        font-size: 30px;
        margin: 10px 0px;
      }
      .tech_inner {
        justify-content: flex-start;
        div {
          width: 200px;
          height: 200px;
          margin: 5px 10px;
          i {
            font-size: 60px;
          }
          .jquery {
            width: 90px;
          }
          .mysql {
            width: 80px;
          }
          .vs_code {
            width: 50px;
          }
        }
      }
    }
    .contact {
      height: auto;
      margin-top: 30px;
      scroll-snap-align: none;
      padding-bottom: 90px;
      .title {
        font-size: 35px;
      }
      .content {
        flex-direction: column;
        .contact_left {
          width: 100%;
          .get_in_touch {
            display: none;
          }
        }
        .contact_right {
          width: 100%;
          .contact_form {
            h2 {
              text-align: center;
            }
            .name_email {
              flex-direction: column;
              .name {
                width: 100%;
                margin-bottom: 10px;
                input {
                  font-size: 22px;
                }
              }
              .email {
                width: 100%;
                input {
                  font-size: 22px;
                }
              }
            }
            .subject {
              input {
                font-size: 22px;
              }
            }
            .message {
              textarea {
                font-size: 22px;
              }
            }
            .btn {
              display: flex;
              flex-direction: column;
              button {
                width: 100%;
                padding: 12px;
                margin-bottom: 5px;
                font-size: 25px;
              }
              .msg_successfull {
                margin-left: 0px;
                margin-bottom: 15px;
                border: none;
                text-align: center;
                font-size: 22px;
              }
            }
          }
        }
      }
      .footer {
        left: 25%;
        bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .App {
    .header {
      .navbar {
        .projects_wrapper {
          .projects {
            .carousel {
              .rec-carousel {
                .rec-slider-container {
                  .rec-slider {
                    .rec-swipable {
                      .rec-carousel-item {
                        .rec-item-wrapper {
                          .project_item {
                            width: 230px;
                            height: 230px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .technologies {
          .tech_inner {
            justify-content: space-evenly;
            div {
              width: 140px;
              height: 140px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0px 5px;
    .header {
      .navbar {
        .logo {
          font-size: 30px;
          left: 5px;
        }
        .pages {
          .exit_menu {
            top: 10px;
            right: 15px;
            font-size: 25px;
            padding: 10px;
          }
          span {
            margin-bottom: 20px;
            a {
              font-size: 30px;
            }
          }
        }
        .menu_bars {
          font-size: 30px;
          right: 25px;
          top: 10px;
        }
      }
      .fa-chevron-up {
        right: 10px;
        bottom: 10px;
        font-size: 25px;
        padding: 15px;
      }
      .header_info {
        .info_wrapper {
          .first_line {
            font-size: 25px;
          }
          .name {
            font-size: 40px;
          }
          .text {
            font-size: 18px;
          }
        }
      }
    }
    .about {
      .about_image {
        img {
          width: 70%;
        }
      }
      .about_text {
        .title {
          font-size: 30px;
        }
        .text {
          font-size: 18px;
        }
        .download {
          .download_msg {
            padding: 2px;
          }
        }
      }
    }
    .projects_wrapper {
      h1 {
        font-size: 30px;
      }
      .projects {
        .carousel {
          .rec-carousel {
            .rec-arrow-left {
              font-size: 35px;
            }
            .rec-arrow-right {
              font-size: 35px;
            }
          }
        }
      }
    }
    .technologies {
      h1 {
        font-size: 30px;
      }
      .tech_inner {
        justify-content: space-evenly;
        div {
          width: 130px;
          height: 130px;
          margin: 5px 0px;
        }
      }
    }
    .contact {
      .title {
        font-size: 30px;
      }
      .content {
        .contact_right {
          .contact_form {
            .name_email {
              .name {
                input {
                  font-size: 20px;
                }
              }
              .email {
                width: 100%;
                input {
                  font-size: 20px;
                }
              }
            }
            .subject {
              input {
                font-size: 20px;
              }
            }
            .message {
              textarea {
                font-size: 20px;
              }
            }
            .btn {
              button {
                font-size: 20px;
              }
              .msg_successfull {
                font-size: 20px;
              }
            }
          }
        }
      }
      .footer {
        left: 17%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .App {
    .header {
      .navbar {
        .logo {
          font-size: 25px;
          top: 5px;
          left: 5px;
        }
        .pages {
          .exit_menu {
            font-size: 20px;
          }
          span {
            a {
              font-size: 22px;
            }
          }
        }
        .menu_bars {
          font-size: 22px;
          right: 20px;
          top: 5px;
        }
      }
      .fa-chevron-up {
        font-size: 20px;
        padding: 10px;
      }
      .header_info {
        .info_wrapper {
          .first_line {
            font-size: 20px;
          }
          .name {
            font-size: 30px;
          }
          .scroll {
            .scroll_item {
              font-size: 20px;
            }
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
    .about {
      margin-top: 0px;
      .about_image {
        img {
          width: 80%;
        }
      }
      .about_text {
        .title {
          font-size: 25px;
          margin-top: 5px;
        }
        .text {
          font-size: 14.8px;
        }
        .download {
          margin-top: 5px;
        }
      }
    }
    .projects_wrapper {
      margin-top: 0px;
      h1 {
        font-size: 25px;
      }
      .projects {
        .carousel {
          .rec-carousel {
            .rec-arrow-left {
              font-size: 25px;
            }
            .rec-arrow-right {
              font-size: 25px;
            }
          }
          .rec-pagination {
            .rec-dot {
              width: 10px;
              height: 10px;
            }
            .rec-dot_active {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
    .technologies {
      margin-top: 0px;
      h1 {
        font-size: 25px;
      }
    }
    .contact {
      height: 100vh;
      padding-bottom: 0;
      margin-top: 0px;
      .title {
        font-size: 25px;
      }
      .content {
        .contact_right {
          .contact_form {
            .name_email {
              .name {
                input {
                  font-size: 17px;
                }
              }
              .email {
                input {
                  font-size: 17px;
                }
              }
            }
            .subject {
              input {
                font-size: 17px;
              }
            }
            .message {
              textarea {
                font-size: 17px;
              }
            }
            .btn {
              button {
                padding: 10px;
                font-size: 18px;
              }
              .msg_successfull {
                margin-bottom: 10px;
                font-size: 18px;
              }
            }
          }
        }
      }
      .footer {
        left: 0%;
      }
    }
  }
}
